@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --Rufous:#A40101;
    --Viridian-green: rgb(44, 163, 171);
    --Silver:#C4C4C4;
    --Orange:#F3610E;
    --Cadet: rgb(29, 27, 69);
}
body{
    font-family:'Poppins', sans-serif;
    font-size: 1em;
}
h1,h2,h3{
    color: var(--Orange);
}

p{
   color: black; 
   font-size: 1em;
}
/*index*/
header{
    display: grid;
}
button{
    font-family:'Poppins', sans-serif;

}
.header{
    justify-self: center;
    grid-template-areas: 
    "logo"
    "logovacuna"
    "boton"
    "telefono" 
    "ubicacion"
    "linea";
}
.logo{
    grid-area:"logo" ;
    justify-self: center;
    justify-items: center;
}
.LogoVacuna {
    grid-area:"logovacuna" ;
    max-width: 20%;
    color: #F3610E;
    justify-self: center;
    justify-items: center;
}

.boton{
    grid-area:"boton" ;
    justify-self: center;

}
.botonprincipal{
    margin: 10px ;
    display: grid;
    grid-template-columns: 10em 2em;
    border-radius: 15rem;
    background-color: #1D1B45;
    border-width: 0;
        }
        .botonprincipal p{
            font-weight: 800;
            color: white;
            text-decoration: none;
            padding: 10px;
        }
        .icon{
            color: white;
            align-self: center;
        
        }

    .icono img{
        max-width: 100%;

    }

.imagen-header{
    display: grid;
    justify-self: center;
}
    .telefono{
        grid-area: "telefono";
        }
        .telefono p{
            text-align:center;
            font-weight: 300;
            }
    

    .ubicacion{
        grid-area: "ubicacion";
        align-items: center;
        
    }
    .ubicacion img{
        justify-self: center;
    }
        .ubicacion p{
            text-align: center;
            font-weight: 300;
        }


#linea{
    grid-area: linea;
    max-width:100%;
    padding-bottom:1rem ;   
}


/*Main*/
 

.texto{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    gap: 20px;
    background-image: url(../imagenes/2.\ medico.png);

}

    .texto h2{
        font-size: 2em;
        font-weight: 400;
        text-align: center;
    }
    .texto h1{
        color:black;
        font-size: 2.5em;
        font-weight: 400;
        text-align: center;
    }

.franja{
    max-width: 100%;
    overflow: hidden;
    
}


#infos{
    display: grid;
   grid-template-areas:
   "signos"
   "quehacer";
    background-image: url(../imagenes/4.\ covid.jpeg);
    max-width: 100%;
    background-color:  rgba(255, 255, 255, 0.747);
    gap: 20px;
    
}
.signos{
    grid-area: signos;
    background-color:  rgba(255, 255, 255, 0.747); 
    display: grid;
}

.subtitulos{
    display: grid;
    grid-template-columns: 5em 10em;
    font-size: 1.2em;
    justify-self: center;

}
    .subtitulos h3{
        color: rgba(11, 87, 149,1);
        font-weight: 500;
        text-align: center;
    }
    .subtitulos img{
        grid-column: 1;
        max-width: 60%;
        justify-self: center;

    }
.lista{
    display: grid;
}
    .lista ul{
        list-style: none;
        font-size: 1em;
    }
    .check{
        max-width: 38px;
        margin-right: 0.5rem;
    }
    .lista li{
        text-align: center;
        padding-bottom: 1em;

    }

.quehacer{
    grid-area: quehacer;
    display: grid;
    background-color:  rgba(255, 255, 255, 0.747);
    max-width: 73rem;
    
}
.quehacerinfo p{
    font-size: 1em;
    text-align: center;
    padding: 5px 30px;
}
.curso{
    display: grid;

}
.quehacerinfo img{
    max-width:150px;
    justify-self: center;
    
}
.quehacerinfo a{
    color: rgba(11, 87, 149,1) ;
    text-align: center;
}

#tips{
    background-color: gray;
    border-color: white;
    border-radius: 2px;
}
#tips p{
    text-align: center;
    background-color: #242336;
    color: white;

}

.blanco{
    background-color: white;
}
.footp{
    padding: 1rem;
    max-width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    text-align: center;
}

/*Resolución tabletas*/
@media screen and (min-width:768px) {
    
    .header{
        grid-template-areas: 
        "logo logovacuna boton"
        "logo telefono ubicacion"
        "linea linea linea"
    ;
    }
    .logo{
        border: 2px solid red;
        justify-self:left;
    }
    .LogoVacuna {
        border: 2px solid pink;
        max-width: 40%;
        justify-self: left;
      
    }
    .boton{
        border: 2px solid red;
        max-width: 100%;
    
    }
    .botonprincipal{
        grid-template-columns: 9em 2em;
    }
    .botonprincipal p{
        font-size: 1em;
    }

    .telefono{
        display: grid;
        grid-template-columns: 5em 8em;
          border: 2px solid red;
    }
    .telefono img{
        align-self: center;
    }
    .ubicacion{
        display: grid;
        border: 2px solid red;
        grid-template-columns: 50px 280px;
        
    }
    .texto h2{
        font-size: 2.3em;
        text-align: ;
        margin: 10px;
    }
    .texto h1{
        font-size: 2.5em;
    }

    #infos{
        grid-template-areas:
            "signos quehacer";
    }
    .subtitulos{
        grid-template-columns: 5em 10em;
        font-size: 1.3em;
        justify-self: left;
    
    }
}

/*Resolución media*/
@media screen and (min-width:1024px) {
    body{
        font-size: 1.3em;
    }
    button{
        font-size: 1em;
    }
    .header{
        grid-template-areas: 
        "logo telefono ubicacion"
        "logo logovacuna boton"
        "linea linea linea"
    ;}
    .linea{
        justify-self: right;
    }
    .logo{
        justify-self:left;
    }
    .LogoVacuna {
        border: 2px solid pink;
        max-width: 40%;
        justify-self: left;
      
    }
    }
    #tips{
        border-bottom: 1rem solid white;
    }
    #tips p{
        text-align: left;
        border: 1px solid white;
    }


    
    
}

/*Resolución macro*/
@media screen and (min-width:1200px) {
    
}