<!DOCTYPE html>
<html lang="ES">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/dashboard.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d5d81529d3.js" crossorigin="anonymous"></script>
    <title>Dashboard</title>

</head>
<body>
    
<main>
<div class="dashboard">
    <section id="izquierda">
        <nav>
            <img src="../imagenes/0. logoforja.png">
            
        <input type="checkbox" id="chk-menu">
            <label for="chk-menu" class="btn-menu">
                <i class="fa-solid fa-bars fa-3x"></i>
            </label>
     

            <div class="items">
        
                <a href="pacientes.html" class="box-izquierda">
                    <i class="fa-solid fa-users fa-3x"></i>
                    Pacientes</a>
                <a href="../views/registro.html"class="box-izquierda"><i class="fa-solid fa-syringe fa-3x"></i>vacunacion</a>
                <a href="../index.html"class="box-izquierda"><i class="fa-solid fa-power-off fa-3x"></i>Cerrar sesion</a>
    
            </div>
        </nav>
    
    </section>

    <div class="user">
        <div>
            <i class="fa-solid fa-user icon2"></i>
        </div>
        <div>
            <p>Camila Cipagauta</p>
            </div>

        </div> 
    <section>
        <article class="principal">
        <h2>BIENVENIDOS</h2>
        <div class="botones">
            <div class="search">
                <label for="buscar">
                <input type="search" name="search" id="search" placeholder="Digita el numero de documento" required>
                </label>
            </div>
    
            <div class="btn-search">
                <a href="pacientes.html">
                    <button class="buscar"> <i class="fa-solid fa-magnifying-glass buscador fa-1.5x"></i>
                    </button>
                </a>
            </div>
            <div class="btn-reload">
                <a href="registro.html">
                <button class="reload"><i class="fa-solid fa-arrow-rotate-right reload fa-1.5x"></i>
                </button>
                </a>
            </div>
    </div>
        
    </article>
    <section class="guerreros">
        <img src="../imagenes/13. guerreros.png">  
    </section>
</section>



<section id="abajo">
    <img src="../imagenes/12. franja.svg">
    </section>

</div>
</main>

</body>
</html>