<!DOCTYPE html>
<html lang="ES">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/pacientes.css">
    <script src="https://kit.fontawesome.com/d5d81529d3.js" crossorigin="anonymous"></script>
    <title>Pacientes</title>
    <link rel="icon"<i class="fa-solid fa-house-chimney"></i>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
</head>

<body>
    <header>
    <div class="superior">
        <div>
        <img src="../imagenes/0. logoforja.png">

         </div>
        <div class="user">
        <a href="dashboard.html">
        <i class="fa-solid fa-house-user user"></i>
        </a>
        </div>

        <div class="off">
            <a href="index.html">
            <i class="fa-solid fa-power-off off"></i>
            </a>
        </div>

        <div class="abajosub"> <!--REvisar el class porque esta en dashboard-->
            <img  class="franja" src="../imagenes/12. franja.svg">
        </div>
    </div>
    </header>

    <main class="container-main">
        <section id="distancia">
            
            <section id="botones">
                <div>
                <button class="agregar"> <a href="registro.html" >Agregar</a><i class="fa-solid fa-user-plus icon"></i></button>
                </div>
            <div>
            <label for="buscar"></label>
                <input  class="form-label" type="search2" name="search" id="search2" placeholder=" Numero de documento ">
                <a href="/css/pacientes.css">
                    <button class="buscar2"> <i class="fa-solid fa-magnifying-glass buscador icon"></i>
                    </button>
                    </a>
            </div>
            </section>
        </div>
        <div class="titulopa">
            <h3>PACIENTES</h3>
        </div>
        </div>
        <div class="table-box">
        <table class="cotainer-table1">
            <tr>
                <th>#DE REGISTRO</th>
                <th>NOMBRES</th>
                <th>EDAD</th>
            </tr>
    
            <tr>
                <td>x</td>
                <td>x</td>
                <td>x</td>
            </tr>
            <tr>
                <td>x</td>
                <td>x</td>
                <td>x</td>
            </tr>
            <tr>
                <td>x</td>
                <td>x</td>
                <td>x</td>
            </tr>
            <tr>
                <td>x</td>
                <td>x</td>
                <td>x</td>
            </tr>
            <tr>
                <td>x</td>
                <td>x</td>
                <td>x</td>
            </tr>
            <tr>
                <td>x</td>
                <td>x</td>
                <td>x</td>
            </tr>
        </table>
        <table class="container-table2">
            <tr>
                <th>APELLIDOS</th>
                <th>EDAD</th>
                <th colspan="2">ACCIONES</th>
            </tr>
    
            <tr>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
            </tr>
            <tr>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
            </tr>
            <tr>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
            </tr>
            <tr>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
            </tr>
            <tr>
                <td>x</td> 
                <td>x</td>
                <td>x</td>
                <td>x</td>
            </tr>
            <tr>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
            </tr>
            <tr>
                <td>x</td>
                <td>x</td>
                <td>x</td>
                <td>x</td>
            </tr>
            
        </table>
    </div>
    <!--<section id="container-table">

            <div class="table-header table-1"># DE REGISTRO</div>
            <div class="table-header "># DOCUMENTO</div>
            <div class="table-header table-2">NOMBRES</div>
            <div class="table-header apellido ">APELLIDOS</div>
            <div class="table-header table-3">EDAD</div>
            <div class="table-header ">ACCIONES</div>

            <div class="numero table-11">
            <div class="table-item">111</div>
            <div class="table-item ">456231</div>
            </div>
            <div class="nombres table-22">
            <div class="table-item ">Paola</div>
            <div class="table-item table-223">Perezeses</div>
            </div>
            <div class="demas">
            <div class="table-item table-33">2+16</div>
            <div class="table-item">
                <button class="btn-azul">
                <h4>Editar</h4>
                <i class="fa-solid fa-pen"></i>
                </button>

                <button class="btn-rojo">
                    <h4>Eliminar</h4>
                    <i class="fa-solid fa-rectangle-xmark icon"></i>
                    </button>
            </div>
            </div>

        <div class="numero">
            <div class="table-item">2039293</div>
            <div class="table-item table-11">45623189</div>
            </div>
            <div class="nombres">
            <div class="table-item table-22 ">Ingrid</div>
            <div class="table-item ">Perez</div>
            </div>
            <div class="demas">
            <div class="table-item table-33">33</div>
            <div class="table-item">
                <button class="btn-azul">
                <h4>Editar</h4>
                <i class="fa-solid fa-pen"></i>
                </button>

                <button class="btn-rojo">
                    <h4>Eliminar</h4>
                    <i class="fa-solid fa-rectangle-xmark icon"></i>
                    </button>
            </div>
        </div>

        <div class="numero">
            <div class="table-item">279304</div>
            <div class="table-item table-11">428390109</div>
            </div>
            <div class="nombres">
            <div class="table-item table-22 ">Camilo</div>
            <div class="table-item ">Sarmiento</div>
            </div>
            <div class="demas">
            <div class="table-item table-33">28</div>
            <div class="table-item">
                <button class="btn-azul">
                <h4>Editar</h4>
                <i class="fa-solid fa-pen"></i>
                </button>

                <button class="btn-rojo">
                    <h4>Eliminar</h4>
                    <i class="fa-solid fa-rectangle-xmark icon"></i>
                    </button>
            </div>
        </div>

        <div class="numero">
            <div class="table-item">121212</div>
            <div class="table-item table-11">1019081492</div>
            </div>
            <div class="nombres">
            <div class="table-item table-22 ">Ingrid</div>
            <div class="table-item ">Paba</div>
            </div>
            <div class="demas">
            <div class="table-item table-33">28</div>
            <div class="table-item">
                <button class="btn-azul">
                <h4>Editar</h4>
                <i class="fa-solid fa-pen"></i>
                </button>

                <button class="btn-rojo">
                    <h4>Eliminar</h4>
                    <i class="fa-solid fa-rectangle-xmark icon"></i>
                    </button>
            </div>
        </div>

        <div class="numero">
            <div class="table-item">12123</div>
            <div class="table-item table-11">1101965842</div>
            </div>
            <div class="nombres">
            <div class="table-item table-22 ">Sandra</div>
            <div class="table-item ">Paba</div>
            </div>
            <div class="demas">
            <div class="table-item table-33">31</div>
            <div class="table-item">
                <button class="btn-azul">
                <h4>Editar</h4>
                <i class="fa-solid fa-pen"></i>
                </button>

                <button class="btn-rojo">
                    <h4>Eliminar</h4>
                    <i class="fa-solid fa-rectangle-xmark icon"></i>
                    </button>
            </div>
        </div>
                
        
        <div class="numero">
            <div class="table-item">165231</div>
            <div class="table-item table-11">1033956043</div>
            </div>
            <div class="nombres">
            <div class="table-item table-22 ">Diana</div>
            <div class="table-item ">Guitierrez</div>
            </div>
            <div class="demas">
            <div class="table-item table-33">35</div>
            <div class="table-item">
                <button class="btn-azul">
                <h4>Editar</h4>
                <i class="fa-solid fa-pen"></i>
                </button>

                <button class="btn-rojo">
                    <h4>Eliminar</h4>
                    <i class="fa-solid fa-rectangle-xmark icon"></i>
                    </button>
            </div>
        </div>
    -->        
             

     </section>
    </main>
    
    <footer>
        <p class="footp">@2020 FORJA EMPRESAS</p>
    </footer>
    
</body>
</html>